@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/reset";
@import "base/typograpy";
@import "base/utilities";

@import "components/buttons";
@import "components/cards";
@import "components/carousel";
@import "components/forms";
@import "components/popups";
@import "components/slider";

@import "layout/flexbox";
@import "layout/footer";
@import "layout/grid-float";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";

@import "pages/about";
@import "pages/home";

@import "vendors/bootstrap";